{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
    <div class="col-3 mb-4">
        <a href="{% url 'blog:blog_create' %}" type="button" class="btn btn-lg btn-block btn-primary">Добавить новость</a>
    </div>
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <img src="{{ object.picture | mymedia }}" class="img-thumbnail" width="100">
            <h6 class="text">{{ object.content|truncatechars:100 }}</h6>
            <a href="{% url 'blog:blog_detail' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}