{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-6 text-center">
    <div class="card mb-4 box-shadow">
        <div class="row">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Добавить новость</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-success mb-3">
                        {% if object %}
                            Изменить
                        {% else %}
                            Опубликовать
                        {% endif %}
                    </button>
                </form>
                <div class="col-12">
                    <a href="{% url 'blog:blog_list' %}" type="button" class="btn btn-secondary">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}