{% extends 'catalog/base.html' %}

{% block content %}
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
            <h2 class="card-title pricing-card-title">{{ object.price }} руб.</h2>
            <h6 class="text">{{ object.description|truncatechars:100 }}</h6>
            <a href="{% url 'catalog:product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}