{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" class="row" enctype="multipart/form-data">
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Добавить продукт</h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-block btn-success mb-3">
                    {% if object %}
                    Изменить
                    {% else %}
                    Добавить
                    {% endif %}
                </button>
                <div class="col-4">
                    <a href="{% url 'catalog:home' %}" type="button" class="btn btn-secondary">Отмена</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Версии продукта</h4>
            </div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if object.active_version %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}